body {
	margin:0;
	padding: 0;
	height: 100%;
  font-family: 'Ubuntu', sans-serif;
  background: url(img/background.jpg) 100% no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:  #111;
}

a {
    margin:0 auto;
}

nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Измените цвет ссылки на #111 (черный) при наведении 
*/nav a:hover {
    background-color: #333;
}
